@charset "UTF-8";
body {
  background: #EBEEF1 url(noise.png);
  font-size: 13px; }

.clear {
  clear: both;
  font-size: 0;
  line-height: 0;
  display: block; }

a, a:focus {
  color: #0068DE;
  text-decoration: none; }

:focus {
  outline: none !important; }

::-moz-focus-inner {
  border: 0 !important; }

#main > .inner {
  padding: 20px 0; }

#content {
  border-radius: 4px;
  padding: 3px;
  background-color: #C1CFDC; }

#content .inner {
  background: white;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #BBB; }

#sidebar {
  padding: 3px;
  background-color: #C1CFDC;
  text-shadow: 0 1px 0 #FFFFFF;
  border-radius: 4px;
  margin-bottom: 5px; }

#sidebar .inner {
  padding: 20px;
  border: 1px solid #BBB;
  background-color: #EFF2F4;
  border-radius: 4px; }

#sidebar h2, .breadcrumbs {
  line-height: 20px;
  background: #7B848C;
  margin: -21px -21px 20px -21px;
  padding: 0 20px;
  line-height: 30px;
  border: 1px solid #666;
  border-radius: 4px 4px 0 0; }

#sidebar h2 span {
  border-radius: 4px 4px 0 0;
  background: #EFF2F4;
  font-size: 15px;
  line-height: 18px;
  padding: 5px 10px; }

#sidebar ul {
  margin-bottom: 0; }

#sidebar li ul {
  padding-left: 20px;
  display: none;
  margin-top: 5px; }

#sidebar li.directory.open > ul {
  display: block; }

#sidebar li {
  padding: 5px 0; }

#sidebar ul li:last-child {
  padding-bottom: 0; }

#sidebar li.directory {
  font-weight: bold; }

#sidebar li.directory > a {
  color: #333; }

#sidebar li.directory > a:hover {
  text-decoration: none; }

#sidebar li.file {
  font-weight: normal;
  word-wrap: break-word; }

#sidebar li li.file {
  padding-left: 10px;
  word-wrap: break-word; }

#sidebar li.file.active > a {
  font-weight: bold; }

#sidebar li a, #sidebar li a:hover {
  display: block;
  text-decoration: none; }

.directory-path {
  color: #7B848C;
  font-weight: normal; }

#tree-filter-clear-query {
  cursor: pointer; }

#tree {
  padding: 0; }

#tree li {
  list-style: none; }

#tree,
#tree-filter-results {
  margin-top: 10px; }

#tree-filter-results li a:focus:before,
#tree li a:focus:before {
  content: "↪";
  float: left;
  margin-left: -13px;
  font-weight: bold;
  color: #333; }

.article {
  padding: 28px 42px 42px 42px;
  border-radius: 2px;
  position: relative;
  margin-bottom: 28px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3); }

.article-contents h1 {
  font-weight: 300;
  font-size: 2.35em;
  line-height: 1.2em;
  color: #182955;
  margin-top: -40px; }

.article-controls button {
  font-size: 22px;
  color: #6879A5;
  margin: 4px; }

.article-controls button:hover {
  color: #8899C5; }

.btn-invisible {
  padding: 0;
  margin: 0;
  background: none;
  border: none; }

.zoomIn {
  animation: zoomIn 0.5s; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

.zoomOut {
  animation: zoomOut 0.5s; }

@keyframes zoomOut {
  from {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  to {
    opacity: 0; } }
